<div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" name="input" id="" [(ngModel)]="input" (ngModelChange)="search()">
</div>
<div class="form-group">
    <label>Seleccionar por tipo:</label>
    <select name="types" id="" (change)="onSelect($event)">
        <option value="">Selecciona un tipo</option>
        <option [value]="type" *ngFor="let type of types">{{type}}</option>
    </select>
</div>


<div *ngFor="let pokemon of arrPokemon" [id]="pokemon.url" (click)="onClick(pokemon.url)">
    <h1>{{pokemon.name}}</h1>
</div>

<ng-template #modalContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{pokemon.name}}</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Experiencia base: {{pokemon.base_experience}}</p>
        <p>Altura: {{pokemon.height}}</p>
        <p>Tipo: {{this.type}}</p>
        <img [src]="image">

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="modal.close()">Ok!</button>
    </div>
</ng-template>